C:UserslukasOneDriveDokumenteDHBWFächerSemester filter=lfs diff=lfs merge=lfs -text
2Data filter=lfs diff=lfs merge=lfs -text
VisualisationPortfolio_Renewable_Power_Plants.ipynb filter=lfs diff=lfs merge=lfs -text
C:\\Users\\lukas\\OneDrive\\Dokumente\\DHBW\\Fächer\\Semester[[:space:]]2\\Data[[:space:]]Visualisation\\Portfolio_Renewable_Power_Plants.ipynb filter=lfs diff=lfs merge=lfs -text
